<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Howdy! I am Learning Django!</h1>
        <p>Ahoy ahoy.</p>

{% if qcolor %}
   <div>The colors in the database:</div>
   <ul>
   {% for qrow in qcolor %}
     <li>{{ qrow.paintcolortitle }}</li>
   {% endfor %}
   </ul>
{% else %}
   <p><em>(no colors)</em></p>
{% endif %}

<!-- {% with 'yabba dabba due' as lbuh %}
{% for f in lcolors.split %}
	<li>{{ f }}</li>
{% endfor %}
{% endwith %} -->


<!--
        <h3><a href="/about/">About</a></h3>
        <h3><a href="/fink/">Fink</a></h3>
        <h3><a href="/arty/">Art Therapy form</a></h3>
-->        
        <form action="/" method="post">
        	<input type="text" name="sayso" size="20"/>
        	<input type="submit" value="yo adrian"/>
        	{% csrf_token %}
        </form>
        
    </body>
</html>
