{% comment %}
EXPECTED INCOMING PARAMETERS:
   qoneappointment  -query of appointment data
   pkid     -appointment table's PKid
   qspainting
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>TrackArt:  Appointment</title>
        {% include "trackart/part_headtemplate.html" %}
   </head>
   <body>
      {% include "trackart/part_bodytemplate.html" %}

      {% if qoneappointment %}
   
         <h1>
            Appointment for
            {% comment %}
            >> TO REFACTOR >> I'd rather be able to just output {{ qoneappointment }}, but I can't get the __str__(self) method in models.py, which creates that string value, to create TIMEZONE AWARE datetimes.
            {% endcomment %}
            {{ qoneappointment.art_clientid }}
            at
            {{ qoneappointment.art_appointmenttime }}
         </h1>
         <div class="series">
            <div><a href="/appointmentwrite/{{ pkid }}">Edit Appointment</a></div>
            <div><a href="/appointmentdelete/{{ pkid }}" onclick="return confirm('This will Delete this appointment\n\nOK to DELETE, Cancel to stop')">Delete Appointment</a></div>
         </div>
         <div class="postseries"></div>

         {% if qspainting %}
            <h2>Paintings</h2>
            <div><a href="/appointment/{{ pkid }}/paintingnew">Add a Painting</a></div>
            <ol>
               {% for qp in qspainting %}
                  <li><a href="/appointment/{{ pkid }}/painting/{{ qp.id }}">{{ qp.art_paintingtitle }}</a></li>
               {% endfor %}
            </ol>
         {% else %}
            <h2 class="none">No Paintings</h2>
            <div><a href="/appointment/{{ pkid }}/paintingnew">Add a Painting</a></div>
         {% endif %}
         
   
      {% else %}
         <h2 class="error">Appointment not found</h2>
      {% endif %}
   </body>
</html>
