{% comment %}
EXPECTED INCOMING PARAMETERS:
   qsappointment  -query of appointment data
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>TrackArt:  All Appointments</title>
      {% include "trackart/part_headtemplate.html" %}
   </head>
   <body>
      <h1>TrackArt All Appointments</h1>
      {% include "trackart/part_bodytemplate.html" %}
      <div class="series">
         <div><a href="/appointmentnew">Add An Appointment</a></div>
      </div>
      <div class="postseries"></div>
      {% if qsappointment %}
         <ol>
         {% for qrow in qsappointment %}
           <li><a href="./appointment/{{ qrow.id }}">{{ qrow }}</a></li>
         {% endfor %}
         </ol>
      {% else %}
         <p><em>No appointments returned</em></p>
      {% endif %}
   </body>
</html>