{% comment %}
EXPECTED INCOMING PARAMETERS:
   qoneappointment  -query of appointment data
   pkid     -appointment table's PKid
   qspainting
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>TrackArt:  Appointment-Centric View</title>
        {% include "trackart/part_headtemplate.html" %}
   </head>
   <body>
      {% include "trackart/part_bodytemplate.html" %}
      <h1>TrackArt Appointment {{ pkid }}:</h1>
      <div class="series">
         <div><a href="/appointmentwrite/{{ pkid }}">Edit Appointment</a></div>
         <div><a href="/appointmentdelete/{{ pkid }}" onclick="return confirm('This will Delete this appointment\n\nOK to DELETE, Cancel to stop')">Delete Appointment</a></div>
         <div><a href="/client/{{ qoneappointment.art_clientid.pk }}">Back to Client</a></div>
         <div><a href="/viewappointments">Back to Appointment-Centric View</a></div>
      </div>
      <div class="postseries"></div>

      {% if qoneappointment %}
   
         <h3>
            Appointment for
            {{ qoneappointment }}
         </h3>
         {% if qspainting %}
            <h4>Paintings</h4>
            <div><a href="/appointment/{{ pkid }}/paintingnew">Add a Painting</a></div>
            <ol>
               {% for qp in qspainting %}
                 <li><a href="/appointment/{{ pkid }}/painting/{{ qp.id }}">{{ qp }}</a></li>
               {% endfor %}
            </ol>
         {% else %}
            <h4 class="none">No Paintings</h4>
            <div><a href="/appointment/{{ pkid }}/paintingnew">Add a Painting</a></div>
         {% endif %}
         
   
      {% else %}
         <h3 class="error">Appointment not found</h3>
      {% endif %}
   </body>
</html>
