{% comment %}
EXPECTED INCOMING PARAMETERS:
   qclient  -query of client data
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>TrackArt:  Client-Centric View</title>
      {% include "trackart/part_headtemplate.html" %}
   </head>
   <body>
      {% include "trackart/part_bodytemplate.html" %}
      <h1>TrackArt Client-Centric View</h1>
      <p>
         <div><a href="/clientnew">Add a Client</a></div>
         <div><a href="/">Back to Index</a></div>
      </p>

{% if qclient %}
   <ul>
   {% for qrow in qclient %}
     <li><a href="./client/{{ qrow.id }}">{{ qrow.art_clientfirstname }} {{ qrow.art_clientlastname }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <p><em>No Clients returned</em></p>
{% endif %}

    </body>
</html>