{% comment %}
EXPECTED INCOMING PARAMETERS:
   qoneclient  -query of client data
   pkid     -client table's PKid
   qsappointment
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>TrackArt:  Client-Centric View</title>
        {% include "trackart/part_headtemplate.html" %}
   </head>
   <body>
      {% include "trackart/part_bodytemplate.html" %}
      <h1>TrackArt Client {{ pkid }}:</h1>
      <div class="series">
         <div><a href="/clientwrite/{{ pkid }}">Edit Client</a></div>
         <div><a href="/clientdelete/{{ pkid }}" onclick="return confirm('This will delete this client\n\nOK to DELETE, Cancel to stop')">Delete Client</a></div>
         <div><a href="/viewclients">Back to Client-Centric View</a></div>
      </div>
      <div class="postseries"></div>

      {% if qoneclient %}
      
         <h3>{{ qoneclient.art_clientfirstname }}
            {{ qoneclient.art_clientlastname }}
         </h3>
         <div>DOB: {{ qoneclient.art_clientdob }}</div>
      
         {% if qsappointment %}
            <h4>Appointments</h4>
            <div><a href="/appointmentnew?art_clientid={{ pkid }}">Add an Appointment</div>
            <ol>
               {% for qa in qsappointment %}
                 <li><a href="/appointment/{{ qa.id }}">{{ qa.art_appointmenttime }}</a></li>
               {% endfor %}
            </ol>
         {% else %}
            <h4 class="none">No Appointments</h4>
            <div><a href="/appointmentnew?art_clientid={{ pkid }}">Add an Appointment</div>
         {% endif %}
         
      
      {% else %}
         <h3 class="error">Client not found</h3>
      {% endif %}
   </body>
</html>