{% comment %}
EXPECTED INCOMING PARAMETERS:
   qoneclient  -query of client data
   pkid     -client table's PKid
   qsappointment
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>TrackArt:  Client-Centric View</title>
        {% include "trackart/part_headtemplate.html" %}
   </head>
   <body>
        {% include "trackart/part_bodytemplate.html" %}
        <h1>TrackArt Client {{ pkid }}:</h1>
        <p><a href="/">Back to Index</a></p>

   {% if qoneclient %}

      <h3>{{ qoneclient.art_clientfirstname }}
         {{ qoneclient.art_clientlastname }}
      </h3>
      <div>DOB: {{ qoneclient.art_clientdob }}</div>

      {% if qsappointment %}
         <h4>Appointments</h4>
         <ol>
            {% for qa in qsappointment %}
              <li><a href="/appointment/{{ qa.id }}">{{ qa.art_appointmenttime }}</a></li>
            {% endfor %}
         </ol>
      {% else %}
         <h4 class="none">No Appointments</h4>
      {% endif %}
      

   {% else %}
      <h3 class="error">Client not found</h3>
   {% endif %}
   </body>
</html>
