{% comment %}
EXPECTED INCOMING PARAMETERS:
   qpainting  -query of painting data
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>TrackArt:  All Paintings</title>
      {% include "trackart/part_headtemplate.html" %}
   </head>
   <body>
      {% include "trackart/part_bodytemplate.html" %}

      <h1>All Paintings</h1>
      
      {% if qpainting %}
         <ul>
         {% for qrow in qpainting %}
           <li><a href="/appointment/{{ qrow.art_appointmentid.id }}/painting/{{ qrow.id }}">{{ qrow }} by {{ qrow.art_appointmentid.art_clientid }} at appointment {{ qrow.art_appointmentid.art_appointmenttime }}</a></li>
         {% endfor %}
         </ul>
      {% else %}
         <p><em>No Paintings returned</em></p>
      {% endif %}

    </body>
</html>