{% comment %}
EXPECTED INCOMING PARAMETERS:
   qpainting  -query of client data
   pkid     -painting's PKid
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>TrackArt:  Painting</title>
        {% include "trackart/part_headtemplate.html" %}
   </head>
   <body>
      {% include "trackart/part_bodytemplate.html" %}

   {% if qpainting %}

      <h1>{{ qpainting }}</h1>

      <div class="series">
         <div><a href="/appointment/{{ qpainting.art_appointmentid.pk }}/paintingwrite/{{ pkid }}">Edit Painting</a></div>
         <div><a href="/appointment/{{ qpainting.art_appointmentid.pk }}/paintingdelete/{{ pkid }}" onclick="return confirm('This will DELETE this painting\n\nOK to DELETE, Cancel to stop')">Delete Painting</a></div>
      </div>
      <div class="postseries"></div>

      <div>Last Updated {{ qpainting.lastupdated }}</div>
      
      <h2>Color(s) used in painting:</h2>
      {% if qpainting.paintcolors.all %}
         <ol>
            {% for qa in qpainting.paintcolors.all %}
              <li>{{ qa }}</li>
            {% endfor %}
         </ol>
      {% else %}
         <div class="none">None</div>
      {% endif %}
               
      <h2>Mood(s) during painting:</h2>
      {% if qpainting.clientmoods.all %}
         <ol>
         {% for qa in qpainting.clientmoods.all %}
           <li>{{ qa }}</li>
         {% endfor %}
         </ol>
      {% else %}
         <div class="none">None</div>
      {% endif %}
      

   {% else %}
      {% comment %}
      this should never happen as we're already confirming we have a painting before this page is called
      {% endcomment %}
      <h3 class="none">Painting not found</h2>
   {% endif %}
   </body>
</html>