body { margin:0px; padding:4px }

h1, h2, h3, h4 { color:#955 }

h1 { margin:0px; padding-top:0px }

A, A:link, A:visited, A:active, A:hover { color:#b73 }

.generalnav { margin:12px -4px 12px -4px; padding:4px; background-color:#900 }
.generalnav A, .generalnav A:link, .generalnav A:visited, .generalnav A:active, .generalnav A:hover { color:#fca }
.generalnavbits div { margin-right:15px; position:relative; display:inline }

.none { font-style:italic; color:#888 }

.error { font-weight:bold; color:#f00 }

.series { display:inline }
.series div { float:left; margin-right:20px; font-weight:bold }

.postseries { clear:both; height:5px }
